<!-- INCLUDE overall_header.html -->

<div class="index-right">

    <!-- IF S_DISPLAY_RT -->
    <!-- INCLUDE dkp/block/recent.html -->
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_RECRUIT -->
    <!-- INCLUDE dkp/block/recruitment.html -->
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_LOOT -->
    <!-- INCLUDE dkp/block/lastloot.html -->
    <!-- ENDIF -->

    <!-- IF S_BPSHOW -->
    <!-- INCLUDE dkp/block/bossprogress.html -->
    <!-- ENDIF -->
    
    <!-- IF S_PLANNER_UPCOMING -->
        <!-- INCLUDE dkp/block/planner_upcoming.html -->
    <!-- ENDIF -->
    <!-- IF S_PLANNER_TOPSIGNUPS -->
        <!-- INCLUDE dkp/block/planner_topsignups.html -->
    <!-- ENDIF -->
    <!-- IF S_PLANNER_UPCOMING -->
        <!-- INCLUDE dkp/block/teamspeak_right.html -->
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_MAINMENU -->
    <!-- INCLUDE dkp/block/mainmenu.html -->
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_LINKS -->
    <!-- INCLUDE dkp/block/links.html -->
    <!-- ENDIF -->

</div>

<div class="index-left">
	 <div class="wow-index">
	 	<div style="margin:0px 0px 2px;">
 	   	   <!-- IF S_DISPLAY_WELCOME -->
 	   	   <!-- INCLUDE dkp/block/welcomeblock.html -->
 		   <!-- ENDIF -->

 		   <!-- INCLUDE dkp/block/news.html -->

           <!-- IF S_PLANNER_UPCOMING -->
            <!-- INCLUDE dkp/block/teamspeak.html -->
           <!-- ENDIF -->

		</div>
	</div>
</div>

<div style="clear:both;"></div>

<!-- INCLUDE dkp/block/whoisonlineblock.html -->

<!-- INCLUDE overall_footer.html -->