<!-- INCLUDE overall_header.html -->

<div class="index-right">

    <!-- IF S_DISPLAY_RT -->
    <!-- INCLUDE dkp/block/recent.html -->
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_RECRUIT -->
    <!-- INCLUDE dkp/block/recruitment.html -->
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_LOOT -->
    <!-- INCLUDE dkp/block/lastloot.html -->
    <!-- ENDIF -->

    <!-- IF S_BPSHOW -->
    <!-- INCLUDE dkp/block/bossprogress.html -->
    <!-- ENDIF -->

    <!-- IF S_PLANNER_UPCOMING -->
    <div class="wow-recent" id="raidblock1">
        <h2 class="open"><img width="16px" height="14px" alt="" src="{T_IMAGESET_PATH}/planner/icon_queue.png" />&nbsp;{L_UPCOMING_RAIDS}</h2>
        <div class="bbdkpblock">
            <div style="width: 90%; clear: both; moz-box-shadow: inset 0 0 30px #000f; -webkit-box-shadow: inset 0 0 30px #000f; box-shadow: inset 0 0 30px #000f; margin:auto;">
                <!-- INCLUDE dkp/block/planner_upcoming.html -->
            </div>
        </div>
    </div>
    <!-- ENDIF -->
    <!-- IF S_PLANNER_TOPSIGNUPS -->
    <div class="wow-recent" id="raidblock2">
        <h2 class="open"><img width="16px" height="14px" alt="" src="{T_IMAGESET_PATH}/planner/icon_signed_up.png" />&nbsp;{L_TOPSIGNUPS}</h2>
        <div class="bbdkpblock">
            <div style="width: 90%; clear: both; moz-box-shadow: inset 0 0 30px #000f; -webkit-box-shadow: inset 0 0 30px #000f; box-shadow: inset 0 0 30px #000f; margin:auto;">
                <!-- INCLUDE dkp/block/planner_topsignups.html -->
            </div>
        </div>
    </div>
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_MAINMENU -->
    <!-- INCLUDE dkp/block/mainmenu.html -->
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_LINKS -->
    <!-- INCLUDE dkp/block/links.html -->
    <!-- ENDIF -->

</div>

<div class="index-left">
	 <div class="wow-index">
	 	<div style="margin:0px 0px 2px;">
 	   	   <!-- IF S_DISPLAY_WELCOME -->
 	   	   <!-- INCLUDE dkp/block/welcomeblock.html -->
 		   <!-- ENDIF -->

 		   <!-- INCLUDE dkp/block/news.html -->
		</div>
	</div>
</div>
<div style="clear:both;"></div>
<!-- INCLUDE dkp/block/whoisonlineblock.html -->

<!-- INCLUDE overall_footer.html -->