<!-- INCLUDE overall_header.html -->
<div id="bbdkpwrap">
    <div id="bbdkpmiddle">

        <!-- IF S_DISPLAY_WELCOME -->
        <!-- INCLUDE dkp/block/welcomeblock.html -->
        <!-- ENDIF -->

        <!-- INCLUDE dkp/block/news.html -->

    </div>
    <div id="bbdkprightsideportal" class="index-right">
        <!-- IF S_DISPLAY_RT --> 
        <!-- INCLUDE dkp/block/recent.html --> 
        <!-- ENDIF -->

        <!-- IF S_DISPLAY_RECRUIT -->
             <!-- INCLUDE dkp/block/recruitment.html -->
         <!-- ENDIF -->  

        <!-- IF S_PLANNER_UPCOMING --> 
        <!-- INCLUDE dkp/block/planner_upcoming.html --> 
        <!-- ENDIF -->  

        <!-- IF S_PLANNER_TOPSIGNUPS --> 
        <!-- INCLUDE dkp/block/planner_topsignups.html --> 
        <!-- ENDIF -->  

        <!-- IF S_DISPLAY_WHOISONLINE && S_DISPLAY_WHOISONLINE_SIDE --> 
        <!-- INCLUDE dkp/block/online.html --> 
        <!-- ENDIF -->  

        <!-- IF S_DISPLAY_NEWMEMBERS --> 
        <!-- INCLUDE dkp/block/newmembers.html --> 
        <!-- ENDIF -->  

        <!-- IF S_DISPLAY_LOOT --> 
        <!-- INCLUDE dkp/block/lastloot.html --> 
        <!-- ENDIF -->  

        <!-- IF S_BPSHOW --> 
        <!-- INCLUDE dkp/block/bossprogress.html --> 
        <!-- ENDIF -->
    </div>

</div>

<!-- INCLUDE dkp/block/whoisonlineblock.html -->
<!-- INCLUDE overall_footer.html -->
