<div class="panel" >
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <ul class="topiclist" style="padding: 4px">
            <li class="header">
                <dl>
                    <dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px; display:inline;width:auto;text-align:center;">
                    <div style="float: left; width:49%; white-space:nowrap; text-align: left;">
                        <h4 class="bbdkpheader"><!-- IF S_PLANNER_ADD -->{L_NEWRAID} {L_ON} {START_DATE}<!-- ELSE -->{L_RAIDPLANNER}<!-- ENDIF --></h4>
                    </div>
                    </dt>
                </dl>
            </li>
        </ul>
        <!-- middle section -->
        <div style="float: left; width: 100%; margin-left:0.5%; margin-right:0.5%">
            <!-- IF ! S_PLANNER_ADD -->
            <!-- INCLUDE planner/raidplan/planner_navbar.html -->
            <!-- ENDIF -->
            <!-- IF S_PLANNER_RAIDPLAN -->
            <!-- INCLUDE planner/raidplan/planner_view_raidplan.html -->
            <!-- ENDIF -->
            <!-- IF S_PLANNER_ADD || S_PLANNER_EDIT -->
            <!-- INCLUDE planner/raidplan/planner_post_body.html -->
            <!-- ENDIF -->
            <!-- IF S_PLANNER_DAY -->
            <!-- INCLUDE planner/RaidCalendar/planner_view_day.html -->
            <!-- ELSEIF S_PLANNER_WEEK -->
            <!-- INCLUDE planner/RaidCalendar/planner_view_month.html -->
            <!-- ELSEIF S_PLANNER_MONTH -->
            <!-- INCLUDE planner/RaidCalendar/planner_view_month.html -->
            <!-- ENDIF -->
        </div>
        <span class="corners-bottom"><span></span></span>
    </div>
</div>
