<div class="wow-recent" id="newmembersblock">
    <h2 class="open">{L_LATESTMEMBERS}</h2>
    <div class="bbdkpblock">

        <ul class="topiclist forums" style="padding: 4px">


            <li class="header">
                <dl>
                    <dt><span class="gensmall"><strong>{L_USERNAME}</strong></span></dt>
                    <dd><span class="gensmall"><strong>{L_JOINED}</strong></span></dd>
                </dl>
            </li>

            <!-- BEGIN latest_members -->
            <li style="list-style:none; padding: 0px;">
                <dl>
                    <dt><img src="images/bbdkp/portal/member.gif" /> <strong><a href="{latest_members.U_USERNAME}"><span<!-- IF latest_members.USERNAME_COLOR -->{latest_members.USERNAME_COLOR}<!-- ENDIF -->>{latest_members.USERNAME}</span></a></strong>
                    </dt>
                    <dd>{latest_members.JOINED}</dd>
                </dl>
            </li>
            <!-- END latest_members -->


        </ul>
        </table>

    </div>
</div>