<ul style="padding: 4px">
    <li style="list-style:none" >
        <div class="bbdkpblock">
        <!-- IF .upcoming -->
        <!-- BEGIN upcoming -->
        <div style= "float: left; cursor:pointer;" onclick="location.href='{upcoming.EVENT_URL}'" title="{upcoming.EVENTNAME}">
            <div style="float: left; margin: 0 5px; 0 0;">
                <img src="{upcoming.IMAGE}" alt="{upcoming.EVENTNAME}" width="32px" height="32px"/>
            </div>
            <div style="float: left;">
                <strong style="color:red;"><!-- IF upcoming.ALL_DAY -->{L_ALL_DAY} {upcoming.START_TIME}<!-- ELSE -->{upcoming.START_TIME}<!-- ENDIF --></strong><br/>
                        <span>
                           <!-- IF upcoming.EVENTNAME -->{upcoming.EVENTNAME}<!-- ENDIF -->
                        </span>
            </div>
        </div>
        <!-- END upcoming -->
        <div style="clear: both;"></div>
        <!-- ELSE -->
        <span class="error">{L_NO_RAIDS_SCHEDULED}</span>
        <!-- ENDIF -->
        <br />
        </div>
        <div class="bbdkpblock">
        <script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/planner/RaidCalendar/clock.js"></script>
        <script type="text/javascript"> 
        $(document).ready(function() 
        {
             new jClock('{T_SUPER_TEMPLATE_PATH}/planner/RaidCalendar/clock.png', jQuery('#clockCanvas').get(0));
        } 
        );
        </script>
        <div style="padding: 0% 10%;">
        <canvas id="clockCanvas" height="130" width="130">
        <p>{L_ERROR_NOCANVAS}</p>
        </canvas>
        <p>{CURRENT_TIME} {TZ}</p>
        </div>

        </div>



    </li>
</ul>
