<div class="forabg">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <ul class="topiclist" style="padding: 4px">
            <li class="header">
                <dl>
                    <dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px;">
                        <img width="16px" height="14px" alt="" src="{T_THEME_PATH}/images/icon_bump.gif" />&nbsp;{L_TOPSIGNUPS}
                    </dt>
                </dl>
            </li>
      </ul>

       <ul class="topiclist forums" style="padding: 4px">
            <li style="list-style:none" >
                <!-- BEGIN topsignups -->
                <div style="clear: left;">
                    <div style="float: left; margin: 0 5px; 0 0;"><!-- IF topsignups.S_RACE_IMAGE_EXISTS --><img src="{topsignups.RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
                        <!-- IF topsignups.S_CLASS_IMAGE_EXISTS --><img src="{topsignups.CLASS_IMAGE}" alt="{topsignups.CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->
                    </div>
                    <div style="float: left;">
                        <strong><span style="color:{topsignups.COLORCODE}">{topsignups.CHARNAME} : {topsignups.COUNTSIGNUPS} </span></strong>
                    </div>
                </div>

                <!-- END topsignups -->
                <div style="clear: both;"></div>
            </li>
       </ul>


<span class="corners-bottom"><span></span></span>
</div>
</div>