<div id="tabs">
    <ul>
        <li id="locations-panel-tab"  class="activetab">
            <a onclick="subPanels('locations-panel'); return false;" href="#locations">
                <span><img src="{T_IMAGESET_PATH}/planner/Locations.png" alt="{L_EVENT}" />&nbsp;{L_RAIDINFO}</span>
            </a>
        </li>
        <li id="resources-panel-tab" >
            <a onclick="subPanels('resources-panel'); return false;" href="#resources">
                <span><img src="{T_IMAGESET_PATH}/planner/Resources.png" alt="{L_ATTENDANCE}"/>&nbsp;{L_RAIDTEAM}</span>
            </a>
        </li>
        <li id="watch-panel-tab">
            <a onclick="subPanels('watch-panel'); return false;" href="#watch">
                <span><img src="{T_IMAGESET_PATH}/planner/watch.png"  alt="{L_TIME}" />&nbsp;{L_RAIDWHEN}</span>
            </a>
        </li>
    </ul>
</div>

<div id="locations-panel" class="panel bg3">
    <div class="inner">
        <span class="corners-top"><span></span></span>

        <fieldset class="fields2">
            <dl>
                <dt>
                    <label for="bbdkp_events">{L_EVENT_TYPE}:</label></dt>
                <dd>
                    <select name="bbdkp_events" id="bbdkp_events">
                        <!-- BEGIN bbdkp_events_options -->
                        <option value="{bbdkp_events_options.KEY}" {bbdkp_events_options.SELECTED}>{bbdkp_events_options.VALUE}</option>
                        <!-- END bbdkp_events_options -->
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>
                    <label for="accesslevel">{L_EVENT_ACCESS_LEVEL}:</label>
                </dt>
                <dd>
                    <select name="accesslevel" id="accesslevel" onchange="update_group_id_state();">
                        <!-- BEGIN accesslevel_options -->
                        <option value="{accesslevel_options.KEY}" {accesslevel_options.SELECTED}>{accesslevel_options.VALUE}</option>
                        <!-- END accesslevel_options -->
                    </select>
                </dd>
            </dl>
            <dl>
                <dt><label for="calGroupId">{L_EVENT_GROUP}:</label></dt>
                <dd>
                    <select name="calGroupId[]" id="calGroupId" disabled="disabled" multiple="multiple" size="6" >
                        <!-- BEGIN group_sel_options -->
                        <option value="{group_sel_options.KEY}" {group_sel_options.SELECTED}>{group_sel_options.VALUE}</option>
                        <!-- END group_sel_options -->
                    </select>
                </dd>
            </dl>

        </fieldset>
        <span class="corners-bottom"><span></span></span>
    </div>
</div>

<div id="resources-panel" class="panel bg3" style="display: none;">
    <div class="inner">
        <span class="corners-top"><span></span></span>

        <fieldset class="fields2">
            <dl>
                <dt><label>{L_CHOOSETEAM}</label>  </dt>
                <dd>

                    <div id="teamname">
                        <h3>{TEAM_NAME}

                        </h3>
                    </div>

                    <select name="teamselect" id="teamselect" onchange="return getteamroles(this.value)">{TEAMSELECT}
                        <!-- BEGIN team_row --><option value="{team_row.VALUE}" {team_row.SELECTED}>{team_row.OPTION}</option><!-- END team_row -->
                    </select>


                    <div id="raidroles">
                        <!-- BEGIN teamsize -->
                        <dl>
                            <dt>
                                <!-- IF teamsize.S_ROLE_ICON_EXISTS --><img src="{teamsize.ROLE_ICON}" alt="image" /><!-- ENDIF -->&nbsp;
                                <label style="font-weight: normal;">{teamsize.ROLE_NAME}:</label></dt>
                            <dd>
                                <input type="hidden" name="role[{teamsize.ROLE_ID}]" value="{teamsize.ROLE_ID}" />
                                <input type="text" name="role_needed[{teamsize.ROLE_ID}]" size="5" maxlength="2" tabindex="2" value="{teamsize.ROLE_NEEDED}" class="inputbox autowidth" />
                            </dd>
                        </dl>
                        <!-- END teamsize -->
                    </div>

                </dd>
            </dl>
            <input type="hidden" name="team_id" value="{TEAM_ID}" />
        </fieldset>

        <span class="corners-bottom"><span></span></span>
    </div>

</div>
<div id="watch-panel" class="panel bg3" style="display: none;">

    <div class="inner">
        <span class="corners-top"><span></span></span>
        <fieldset class="fields2">

            <dl style="clear: right;">
                <dt><label for="calinvHr">{L_RAID_DATE}:</label></dt>
                <dd>
                    <select name='calDEnd' id='calDEnd'>
                        <!-- BEGIN enddayoptions -->
                        <option value="{enddayoptions.KEY}" {enddayoptions.SELECTED}>{enddayoptions.VALUE}</option><!-- END enddayoptions -->
                    </select>

                    <select name='calMEnd' id='calMEnd'>
                        <!-- BEGIN endmonthoptions -->
                        <option value="{endmonthoptions.KEY}" {endmonthoptions.SELECTED}>{endmonthoptions.VALUE}</option><!-- END endmonthoptions -->
                    </select>

                    <select name='calYEnd' id='calYEnd'>
                        <!-- BEGIN endyearoptions -->
                        <option value="{endyearoptions.KEY}" {endyearoptions.SELECTED}>{endyearoptions.VALUE}</option><!-- END endyearoptions -->
                    </select>
                </dd>
            </dl>

            <dl style="clear: right;">
                <dt><label for="calinvHr">{L_RAID_INVITE_TIME}:</label></dt>
                <dd>
                    <select name='calinvHr' id='calinvHr'>
                        <!-- BEGIN invhouroptions -->
                        <option value="{invhouroptions.KEY}" {invhouroptions.SELECTED}>{invhouroptions.VALUE}</option><!-- END invhouroptions -->
                    </select>
                    <select name='calinvMn' id='calinvMn'>
                        <!-- BEGIN invminoptions -->
                        <option value="{invminoptions.KEY}" {invminoptions.SELECTED}>{invminoptions.VALUE}</option><!-- END invminoptions -->
                    </select>
                </dd>
            </dl>
            <dl style="clear: right;">
                <dt><label for="calHr">{L_RAID_START_TIME}:</label></dt>
                <dd>
                    <select name='calHr' id='calHr'>
                        <!-- BEGIN starthouroptions -->
                        <option value="{starthouroptions.KEY}" {starthouroptions.SELECTED}>{starthouroptions.VALUE}</option><!-- END starthouroptions -->
                    </select>
                    <select name='calMn' id='calMn'>
                        <!-- BEGIN startminoptions -->
                        <option value="{startminoptions.KEY}" {startminoptions.SELECTED}>{startminoptions.VALUE}</option><!-- END startminoptions -->
                    </select>
                </dd>
            </dl>
            <dl style="clear: right;">
                <dt><label for="calEndHr">{L_RAID_END_TIME}:</label></dt>
                <dd>
                    <select name='calEndHr' id='calEndHr'>
                        <!-- BEGIN endhouroptions -->
                        <option value="{endhouroptions.KEY}" {endhouroptions.SELECTED}>{endhouroptions.VALUE}</option><!-- END endhouroptions -->
                    </select>

                    <select name='calEndMn' id='calEndMn'>
                        <!-- BEGIN endminuteoptions -->
                        <option value="{endminuteoptions.KEY}" {endhouroptions.SELECTED}>{endminuteoptions.VALUE}</option><!-- END endminuteoptions -->
                    </select>
                </dd>
            </dl>
        </fieldset>

        <span class="corners-bottom"><span></span></span>
    </div>
</div>