<form id="postraidplan" method="post" action="{S_POST_ACTION}">
    <div id="postingbox">
        <!-- INCLUDE planner/raidplan/planner_post_body_editor.html -->
    </div>
    <div class="panel bg2" >
        <div class="inner">
            <span class="corners-top"><span></span></span>
            <fieldset class="submit-buttons">
                <input type="hidden" name="hidden_raidplanid" value="{RAIDPLAN_ID}" />
                <input type="hidden" name="hiddenCalD" value="{FRAME_CALD}" />
                <input type="hidden" name="hiddenCalM" value="{FRAME_CALM}" />
                <input type="hidden" name="hiddenCalY" value="{FRAME_CALY}" />

                <!-- IF S_PLANNER_EDIT && S_DELETE_ALLOWED -->
                <input type="submit" accesskey="d" tabindex="7" name="delete" id="delete" value="{L_DELETE}" class="button1" />&nbsp;
                <!-- ENDIF -->

                <!-- IF S_PLANNER_EDIT && S_DELETE_ALLOWED -->
                <input type="submit" accesskey="s" tabindex="6" name="updateraid" value="{L_UPDATE}" class="button1" />&nbsp;

                <!-- ELSE -->
                <input type="submit" accesskey="s" tabindex="6" name="addraid" value="{L_ADD}" class="button1" />&nbsp;
                <!-- ENDIF -->
            </fieldset>
            <span class="corners-bottom"><span></span></span>
        </div>
    </div>

    <div>
        <!-- INCLUDE planner/raidplan/planner_post_tabs.html -->
    </div>
</form>