<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<ul class="topiclist" style="padding: 4px">
    <li class="header">
        <dl>
            <dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px;">
            <img width="16px" height="14px" alt="" src="{T_THEME_PATH}/images/icon_subscribe.gif" />&nbsp;{L_UPCOMING_RAIDS}
            </dt>
        </dl>
    </li>
</ul>

<div style= "padding-top: 0px; margin-top: 7px; margin-bottom: 5px;">
    {WELCOME_MSG}
</div>

<span class="corners-bottom"><span></span></span>
</div>
</div>

